  <header class="topo container">
    <div class="logo-food">
      <a href="/">
        <img src="/img/logo.png" alt="FoodFy" />
      </a>
    </div>
    <nav class="menu">
      <li>
        <a href="/sobre">Sobre</a>
      </li>
      <li>
        <a href="/receitas">Receitas</a>
      </li>
    </nav>
  </header>