  <div class="modal-overlay">
    <div class="modal">
      <div class="modal-content">
        <img src="/img/asinhas.png" alt="Assinhas" />
      </div>
      <div class="modal-info">
        <p class="modal-title">Assinhas de frango ao molho barbecue</p>
        <p class="modal-author">por Vania Steroski</p>
      </div>
      <a class="close-modal">Fechar modal</a>
    </div>
  </div>